.cards {
    display: grid;
    width:100%;
    height:100%;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
    align-items: center;
}

.card {
    display: grid;
    grid-template-rows: auto;
    border: solid;
    margin: 2%;
    padding: 0;
    align-items: center;
    justify-content: center;
}